/* custom css */
body {
  margin: 0;
  padding: 0;
}

li.one {
  background-color: orange;
  list-style-type: none;
}
li.two {
  background-color: yellow;
  list-style-type: none;
}
li.three {
  background-color: #99CCFF;
  list-style-type: none;
}
