/* custom css */
body {
  margin: 0;
  padding: 0;
  width: 100%;
}
li {
  margin: 0 1%;
  padding: 10px;
  width: 30%;
  float: left;
}
li.one {
  background-color: orange;
  list-style-type: none;
  margin: 0% 1% 0% 0%;
}
li.two {
  background-color: yellow;
  list-style-type: none;
  margin: 0% 33% 0% 0%;
}
li.three {
  background-color: #99CCFF;
  list-style-type: none;
  margin: 0% 67% 0% 00%;
}
